{% extends 'base.html' %}
{% block content %}

<style>
    .table_link:link { color: black; text-decoration: none;}
    .table_link:visited { color: black; text-decoration: none;}
    .table_link:hover { color: red; text-decoration: none;}
    .table_link:active { color: black; text-decoration: none;}
</style>

<div class="container my-3">
    <div class="col-2">
        <select class="form-control so">
            <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
            <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>분류순</option>
            <option value="popular" {% if so == 'popular' %}selected{% endif %}>단가순</option>
        </select>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center table-secondary">
            <th class="text-center" style="width:10%">No.</th>
            <th >분류</th>
            <th class="text-center" style="width:50%">식단명</th>
            <th>단가</th>
            <th>할인율</th>
        </tr>
        </thead>
        <tbody>
        {% if product_list %}
        {% for product in product_list %}
        <tr>
            <td class="text-center" style="width:10%">
                <a>{{ product.id }}</a>
            </td>
            <td class="text-center">
                {% if product.pclass == '다이어트식' %}
                <span class="badge bg-success px-2 py-1">{{ product.pclass }}</span>
                {% elif product.pclass == '일반식' %}
                <span class="badge bg-secondary px-2 py-1">{{ product.pclass }}</span>
                {% elif product.pclass == '환자식' %}
                <span class="badge bg-warning px-2 py-1">{{ product.pclass }}</span>
                {% elif product.pclass == '고열량식' %}
                <span class="badge bg-danger px-2 py-1">{{ product.pclass }}</span>
                {% elif product.pclass == '저염식' %}
                <span class="badge bg-info px-2 py-1">{{ product.pclass }}</span>
                {% else %}
                <span class="badge bg-primary px-2 py-1">{{ product.pclass }}</span>
                {% endif %}
            </td>
            <td class="text-center" style="width:50%">
                <a class="table_link" id='prodpname' href="{% url 'sales:detail' product.id %}" >{{ product.pname}}</a>
            </td>
            <td class="text-center">
                <a>{{ product.unitprice}}</a>
            </td>
            <td class="text-center">
                <a>{{ product.discountrate}}</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">식단이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if product_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in product_list.paginator.page_range %}
        {% if page_number >= product_list.number|add:-2 and page_number <= product_list.number|add:2 %}
        {% if page_number == product_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if product_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <div style="text-align:right">
        <a href="{% url 'sales:product_create' %}" class="btn btn-primary">식단등록</a>
    </div>
</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
<script type='text/javascript'>
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}